.horizontal
{
    display: flex;
    justify-content: center;
}

.vertical
{
    display: flex;
    height: 700px;
    align-items: center;
}

body, html {
    margin: 0;
    height: 100%;
  }
  
  .outer {
    display: flex;
    min-height: 100%;
    flex-direction: column;
  }
  
  .row {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  
  .item {
    border: 1px solid #f9c815;
    flex: 1;
  }